@tailwind base;

@layer base {
  h1 {
    @apply text-8xl;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-2xl;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  overflow-x: hidden;
  --background: #ffffff;
  --foreground: #131618;
  --blackshade: #3a3d3f;
  --blackshade3: #66696c;
  --blackshade4: #95989b;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #131618;
    --foreground: #ededed;
    --blackshade: #26282a;
    --blackshade2: #3a3d3f;
    --blackshade3: #66696c;
    --blackshade4: #95989b;
  }
} */

body {
  color: rgb(244 244 245);
  /* background: rgb(0, 0, 0); */
  background: #0a0a0f;
  font-family: Arial, Helvetica, sans-serif;
}

.text-stroke-3 {
  background-image: linear-gradient(45deg, #ff003c, #2f00ff);
  /* background-image:  linear-gradient(45deg, #ff2a83, #cde052); */
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
}
.text-stroke-2 {
  background-image: linear-gradient(45deg, #ff003c, #2f00ff);
  /* background-image:  linear-gradient(45deg, #ff2a83, #cde052); */
}

.clip {
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}
.clipLink {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.glowlight {
  /* background: radial-gradient(#ff1c7e87, rgba(255, 255, 255, 0)); */
  background: radial-gradient(#ffffff9a, rgba(255, 255, 255, 0));
  /* background: radial-gradient(#ffffff8f, rgba(255, 255, 255, 0)); */
}

canvas {
  /* width: 100vw !important; */
}

@media only screen and (max-width: 768px) {
  canvas {
    /* width: 768px !important; */
  }
}

/* purple : 883FE0 */
/* pink #ff2a83 */
/* yellow #cde052 */
